#footer {
    background-color: #15191a;
}

#footer p {
    font-family: "Fira Sans";
    color: white;
    opacity: 0.4;
    font-size: 0.8vw;
    padding-top: 1.5vw;
    padding-bottom: 0.5vw;
}