@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--primary: #191a1a;
	--secondary: #f24333;
}

body {
	line-height: normal;
	color: var(--primary);
	background: var(--bacground);
}

.secondary-color {
	color: var(--secondary);
}
