@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--primary: #191a1a;
	--secondary: #f24333;
}

body {
	line-height: normal;
	color: var(--primary);
	background: var(--background);
}

.secondary-color {
	color: var(--secondary);
}

#profile {
	font-size: 4rem;
	letter-spacing: -0.2rem;
}

#title {
	background-color: var(--secondary);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#social {
	font-size: 2rem;
	letter-spacing: -0.1rem;
}
